.flexContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    max-width: 850px;
}

.headerBody {
    // background-color: grey;
    position: relative;
    height: 100px;
    padding: 0;
    width: 100vw;
}

.hide {
    display: none
}

.logoContainer {
    color: rgb(255, 255, 255);
    margin: 35px 0;
    text-align: center;
    width: 195px;

    .bottom {
        font-weight: 500;
        font-size: 20px;
    }

    .top {
        font-weight: 700;
        font-size: 45px;
    }
}

.menuIcon {
    display: none;
    cursor: pointer;
    user-select: none;
}

.pageLinks {
    color: white;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    justify-content: space-around;
    width: 800px;

    .button {
        border-bottom: 2px solid rgba(0, 0, 255, 0);
        cursor: pointer;
        user-select: none;
    }

    .underline {
        border-bottom: 2px solid blue;
    }
}

@media screen and (max-width: 900px) { //tablet

    .flexContainer {
        max-width: 600px;
    }

    .menuIcon {
        display: block;
    }

    .pageLinks {
        display: none;
    }

}

@media screen and (max-width: 650px) { //tablet

    .flexContainer {
        max-width: none;
        width: 100vw;
    }

    .logoContainer {
        margin: 20px 20px;
        width: fit-content;

        .bottom {
            font-size: 14px;
        }

        .top {
            font-size: 30px;
        }
    }

    .menuIcon {
        margin: 20px 20px;
    }
}