.colLeft {
    color: white;
    width: 600px;
    // width: 50%;

    .body {
        margin: 30px 0;
    }

    .button {
        background-color: white;
        border-radius: 4px;
        color: black;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        height: fit-content;
        padding: 18px;
        position: relative;
        user-select: none;
        width: fit-content;

        &:hover {
            // background-color: rgb(224, 224, 224);
            box-shadow: 0px 0px 5px rgb(255, 255, 255);
        }
    }

    .header {
        font-size: 50px;
        font-weight: 800;
    }

}

.colRight {

    img {
        position: absolute;
        right: 5%;
        top: 325px;
        width: 600px;
    }

}

.introBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px auto;
    max-width: 850px;
}

.introContainer {
    background-image: url(../../public/wave8.svg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: aqua; */
    height: 800px;
}

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 650px) { //tablet

    .introBody {
        flex-direction: column;
        margin: 30px auto;

        .colLeft {
            width: 100vw;

            .header {
                font-size: 46px;
                text-align: center;
            }

            .body {
                margin: 20px;
                text-align: center;
            }

            .button {
                margin: 35px auto;
            }
        }

        .colRight {
            position: relative;
            width: 100vw;
            img {
                display: block;
                left: 0;
                margin: auto;
                position: relative;
                top: 0px;
                width: 100vw;
            }
        
        }
    }

}