.colLeft {
    color: white;
    width: 600px;
    // width: 50%;

    .body {
        margin: 30px 0;
    }

    .button {
        background-color: white;
        border-radius: 4px;
        color: black;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        height: fit-content;
        padding: 18px;
        position: relative;
        user-select: none;
        width: fit-content;

        &:hover {
            // background-color: rgb(224, 224, 224);
            box-shadow: 0px 0px 5px rgb(255, 255, 255);
        }
    }

    .header {
        font-size: 50px;
        font-weight: 800;
    }

}

.colRight {

    img {
        position: absolute;
        right: 10px;
        top: 200px;
        width: 600px;
    }

}

.introBody {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 100px 0;
}

.introContainer {
    background-image: url(../../public/wave8.svg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: aqua; */
    height: 800px;
}